.navbar {
    background-color: #333;
    height: 80px;
    /* Altura del navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 19px 24px;
    font-size: 19px;
    border-radius: 4px;
    transition: background-color 0.4s;
    /* animar el cambio de color durante 0.3 segundos */

}

.navbar li a:hover {
    background-color: #555;
}

.menu-toggle {
    display: none;
}

body {
    padding-bottom: 150px; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* Altura del footer */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 20px;
}

.footer li:last-child {
    margin-right: 0;
}

.footer li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
}

.logo {
    height: 56px;
    transition: filter 0.3s;
    /* animacion de filtro al logo */

}

.logo:hover {
    filter: brightness(1.3);
    /* filtro de brillo al aplicar al logo cuando pase el mouse */
}

/* .product {
    
} */

/* CARD */

.custom-card {
    width: 400px; 
    margin-bottom: 45px;
    margin-right: 20px;
}

.custom-carousel img {
    height: 250px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover; /* Asegura que las imágenes se ajusten bien dentro del carrusel */
}

/* BUTTOM BUY */

.button {
    --color: #00A97F;
    --hover-color: #FFFFFF;
    width: 11rem;
    padding: 16px;
    background-color: var(--color);
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid var(--color);
    font-family: inherit;
    text-transform: uppercase;
    color: var(--hover-color);
    z-index: 1;
    left: -4px;
}

.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--hover-color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: var(--color);
    background-color: var(--hover-color);
    border-color: black;
}

.button:active {
    filter: brightness(.8);
}

/* BUTTOM BUY */

.a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del botón */
}

.a:visited {
    color: inherit; /* Hereda el color del texto del botón para los enlaces visitados */
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

/* @media(max-width: 745px) {
    .product {
        
    }
} */

@media(min-width: 951px) {
    .logo {
        left: 21px;
    }
}

@media(max-width: 816px) {
    .navbar ul li a {
        display: none;
    }

    .navbar li a.menu-toggle {
        display: block;
    }

}