<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#artistModal">Agregar Artista</button>

<!-- Modal Artista -->
<div class="modal fade" id="artistModal" tabindex="-1" aria-labelledby="artistModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="artistModalLabel">Crear Artista</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/artist/create" method="POST">
          <div class="mb-3">
            <label for="artist_name" class="form-label">Nuevo Artista</label>
            <input class="form-control" id="artist_name" name="artist_name" placeholder="Ingrese nombre del Artista">
          </div>

          <div class="mb-3">
            <label for="bio_info" class="form-label">Biografia</label>
            <textarea class="form-control" id="bio_info" name="bio_info" rows="6" placeholder="Biografia del artista"></textarea>
          </div>

          <button type="submit" class="btn btn-success">Crear</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>



